## Задание 1 ##
*Скачать файл в уроке<br>
Считать данные с помощью pandas<br>
Вывести на экран первые 5 строк<br>
Посмотреть на описание признаков и на их содержание*

In [97]:
import pandas as pd

In [98]:
df = pd.read_csv('kc_house_data.csv', encoding='windows-1251')

In [99]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

## Задание 2 ##
*Проведите первичный анализ данных<br>
1 - Изучите типы данных<br>
2 - Найдите количество пропущенных ячеек в данных<br> 
3 - Посчитайте основные статистики по всем признакам и поизучайте их<br>
4 - Пишите выводы*

##### 1 - Изучите типы данных #####

In [100]:
df.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

##### 2 - Найдите количество пропущенных ячеек в данных #####

In [101]:
df.isna().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

##### 3 - Посчитайте основные статистики по всем признакам и поизучайте их #####

In [102]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [103]:
df[df['bathrooms'] == 0]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
875,6306400140,20140612T000000,1095000.0,0,0.0,3064,4764,3.5,0,2,...,7,3064,0,1990,0,98102,47.6362,-122.322,2360,4000
1149,3421079032,20150217T000000,75000.0,1,0.0,670,43377,1.0,0,0,...,3,670,0,1966,0,98022,47.2638,-121.906,1160,42882
3119,3918400017,20150205T000000,380000.0,0,0.0,1470,979,3.0,0,2,...,8,1470,0,2006,0,98133,47.7145,-122.356,1470,1399
5832,5702500050,20141104T000000,280000.0,1,0.0,600,24501,1.0,0,0,...,3,600,0,1950,0,98045,47.5316,-121.749,990,22549
6994,2954400190,20140624T000000,1295650.0,0,0.0,4810,28008,2.0,0,0,...,12,4810,0,1990,0,98053,47.6642,-122.069,4740,35061
9773,3374500520,20150429T000000,355000.0,0,0.0,2460,8049,2.0,0,0,...,8,2460,0,1990,0,98031,47.4095,-122.168,2520,8050
9854,7849202190,20141223T000000,235000.0,0,0.0,1470,4800,2.0,0,0,...,7,1470,0,1996,0,98065,47.5265,-121.828,1060,7200
10481,203100435,20140918T000000,484000.0,1,0.0,690,23244,1.0,0,0,...,7,690,0,1948,0,98053,47.6429,-121.955,1690,19290
14423,9543000205,20150413T000000,139950.0,0,0.0,844,4269,1.0,0,0,...,7,844,0,1913,0,98001,47.2781,-122.250,1380,9600
19452,3980300371,20140926T000000,142000.0,0,0.0,290,20875,1.0,0,0,...,1,290,0,1963,0,98024,47.5308,-121.888,1620,22850

*4 - Пишите выводы*

Вывод :<br> 1 - Пропущенных ячеек в таблице нет<br> 2 - Жилой комплекс очень старый, т.к. первый дом был построен в 1900г<br> 3 - В доступности есть водоем, что существенно влияет на цену недвижимости в донном жилом комплексе<br> 4 - Имеется 10 домов без ванной комнаты, что может говорить о возможном отсутствии подведенной канализации и возможном наличии бани на участке

## Задание 3 ##
*Ответьте на несколько вопросов<br><br>
3.1 В каком диапазоне изменяются стоимости недвижимости?<br>
3.2 Какую долю в среднем занимают жилая площадь от всей площади по всем домам?<br>
3.3 Как много домов с разными этажами в данных?<br>
3.4 Насколько хорошие состояния у домов в данных?<br>
3.5 Найдите года, когда построили первый дом, когда построили последний дом в данных?*

##### *3.1 В каком диапазоне изменяются стоимости недвижимости?* #####

In [104]:
f"From {df['price'].min()}  To {df['price'].max()}"

'From 75000.0  To 7700000.0'

##### *3.2 Какую долю в среднем занимают жилая площадь от всей площади по всем домам?* #####

In [105]:
f"{((df['sqft_living'].mean()) / (df['sqft_lot'].mean())*100).round(2)}%"

'13.77%'

##### *3.3 Как много домов с разными этажами в данных?* #####

In [106]:
df['floors'].value_counts()

1.0    10680
2.0     8241
1.5     1910
3.0      613
2.5      161
3.5        8
Name: floors, dtype: int64

#### *3.4 Насколько хорошие состояния у домов в данных?* ####

In [107]:
(df['condition'].value_counts(normalize=True)*100).round(2).sort_index()

1     0.14
2     0.80
3    64.92
4    26.28
5     7.87
Name: condition, dtype: float64

#### *3.5 Найдите года, когда построили первый дом, когда построили последний дом в данных?* ####

In [108]:
f"{df['yr_built'].min()} first, {df['yr_built'].max()} last"

'1900 first, 2015 last'

## Задание 4 ##
*Ответьте на несколько вопросов<br><br>
4.1 Сколько в среднем стоят дома, у которых 2 спальни?<br>
4.2 Какая в среднем общая площадь домов, у которых стоимость больше 600 000?<br>
4.3 Как много домов коснулся ремонт?<br>
4.4 Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?*

##### 4.1 Сколько в среднем стоят дома, у которых 2 спальни? #####

In [109]:
df[df['bedrooms'] == 2]['price'].mean()

401372.681884058

#### *4.2 Какая в среднем общая площадь домов, у которых стоимость больше 600 000?* ####

In [110]:
df[df['price'] > 600000]['sqft_lot'].mean().round(2)

20442.52

#### *4.3 Как много домов коснулся ремонт?* ####

In [111]:
df[df['yr_renovated'] != 0].shape[0]

914

#### *4.4 Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?* ####

In [112]:
(df[df['grade'] > 10]['price'].mean() - df[df['grade'] < 4]['price'].mean()).round(2)

1488885.12

## Задание 5 ##
*5.1 Выберите дом клиенту<br>
Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?<br>
5.2 Выберите дом клиенту<br>
Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, в очень хорошем состоянии и год постройки не меньше 1980 года.<br> В какой ценовом диапазоне будут дома?<br>
5.3 Выберите дом клиенту<br>
Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?*

#### *5.1 Выберите дом клиенту<br> Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?* ####

In [114]:
f"{df[(df['sqft_basement'] > 0) & (df['bathrooms'] >= 3) & (df['waterfront'] != 0)].shape[0]} possible options"

'41 possible options'

#### *5.2 Выберите дом клиенту<br>Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, в очень хорошем состоянии и год постройки не меньше 1980 года<br> В какой ценовом диапазоне будут дома?* ####

In [115]:
want = df[((df['waterfront'] > 0) | (df['view'] == 4)) & (df['condition'] == 5) & (df['yr_built'] >= 1980)]['price']
f'From {want.min()} To {want.max()}'

'From 1295000.0 To 3000000.0'

#### *5.3 Выберите дом клиенту<br>Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?* ####

In [119]:
df[(df['sqft_basement'] == 0) & (df['floors'] == 2) & (df['price'] <= 150000)]['condition'].mean()

3.0